<h1> {{ title }}</h1>

<form action="/upload" enctype="multipart/form-data" method="post">
<p>
Please specify a file:<br>
<input type="file" name="datafile">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>